<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reading. Matters.</title>
</head>
<body>
    <%- include('./partials/header') %>
    <p>Welcome to Reading. Matters.</p> 
    <p>We hope you'll join our growing community where readers find and share their favorite reads!</p>
</body>
</html>